<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oxotnik_Magazinn.Properties.Settings.Oxotnik_MagazinConnectionString"
            connectionString="Data Source=WIN-87ES7OFIK84\SQLEXPRESS;Initial Catalog=Oxotnik_Magazin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>